@mixin flex($jc: flex-start, $ai: flex-start, $fd: row) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
  flex-direction: $fd;
}

@mixin block-format(
  $position,
  $width: auto,
  $height: auto,
  $margin: 0,
  $padding: 0,
  $bg: transparent
) {
  position: $position;
  width: $width;
  height: $height;
  margin: $margin;
  padding: $padding;
  background: $bg;
  box-sizing: border-box;
}

@mixin text-format(
  $size,
  $weight,
  $famaly: $source-sans,
  $color: $black,
  $text-aligh: center,
  $letter-spacing: 0
) {
  font: $weight $size $famaly;
  color: $color;
  text-align: $text-aligh;
  letter-spacing: $letter-spacing;
}

@mixin btn-reset() {
  border: none;
  background: none;
  outline: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

@mixin inp-reset() {
  border: none;
  outline: none;
  background: none;
  outline: none;
  margin: 0;
  padding: 0;
}
