// screen
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

// colors
$white: #ffffff;
$black: #373a3c;
$gray: #bbb;
$gray-dark: #aaa;
$gray-darker: #999999;
$gray-very-dark: #818a91;
$gray-lazy: #bbbbbb;
$gray-light: #f3f3f3;
$gray-low-light: #e5e5e5;
$green: #5cb85c;
$green-dark: #3d8b3d;

// fonts
$source-sans: 'SourceSansPro-Regular', sans-serif;
$titillium-sans: 'TitilliumWeb-Bold', sans-serif;
