@import '../../../sass/main';

.ArticleCard {
  @include block-format(_, 100%, _, 0, 1.5rem 0);
  border-top: 1px solid rgba(0, 0, 0, 0.1);

  &-top {
    @include block-format(_, 100%, 32px, 0 0 1rem);
    @include flex(space-between);

    &__userBlock {
      @include flex();
    }

    &__icon {
      @include block-format(_, 32px, 32px);
      border-radius: 30px;
      cursor: pointer;
    }

    &__props {
      margin: 0 1.5rem 0 0.3rem;
      vertical-align: center;
      @include flex(_, _, column);

      &_userName {
        height: 16px;
        @include text-format(1rem, 300, $source-sans, $green, left);
        @include flex(_, center);
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }

      &_date {
        height: 16px;
        @include text-format(0.8rem, 300, $source-sans, $gray-lazy, left);
        @include flex(_, center);
        opacity: 0.55;
      }
    }

    &__favorites {
      @include btn-reset();
      padding: 0.25rem 0.5rem;
      @include text-format(0.875rem, 400, $source-sans, $green);
      line-height: 1.25;
      border: 1px solid $green;
      border-radius: 0.2rem;
      &:hover {
        background: $green;
        color: $white;
      }
    }
  }

  &-title {
    @include block-format(_, 100%, auto, 0 0 3px);
    @include text-format(1.5rem, 600, $source-sans, $black, left, 0.04em);
    line-height: 1.1;
    cursor: pointer;
  }

  &-description {
    @include block-format(_, 100%, auto, 0 0 15px);
    @include text-format(1rem, 300, $source-sans, $gray-darker, left);
    line-height: 1.3;
    opacity: 0.55;
    cursor: pointer;
  }

  &-bottom {
    @include block-format(_, 100%);
    @include flex(space-between, center);

    &__read {
      @include block-format(_, 30%, auto);
      @include text-format(0.8rem, 300, $source-sans, $gray-darker, left);
      line-height: 1.3;
      opacity: 0.55;
      cursor: pointer;
    }

    &__tag-list {
      @include flex;
      max-width: 70%;
      cursor: pointer;
    }
  }
}
