@import '/src/sass/components/components.scss';

.Login {
  &-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
  }
  &-header {
    font-size: 3rem;
    font-weight: 400;
  }
  &-register-link {
    display: block;
    color: #5cb85c;
  }
}

.login__error {
  color: red;
  font-weight: 700;
}

