@import '/src/sass/main';

.Login {

  &-body {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &-header {
    font-size: 3rem;
    font-weight: 400;
  }

  &-register-link {
    display: block;
    color: #5cb85c;
  }

  &-form {
    width: 40%;

    &__input {
    }
  }
}
