.login {

}

.login__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
}

.login__header {
    font-size: 3rem;
    font-weight: 400;
}

.login__register-link {
    display: block;
    color: #5cb85c;
}

.login__input {
    border: 1px solid gray;
    padding: 1rem;
    width: 30rem;
    background-color: transparent;
    font-size: 1rem;
    border-radius: 4px;
}

.login__input:focus {
    border: 2px solid cornflowerblue;
}

.login__submit {
    background-color: #5cb85c;
    padding: 1rem;
    color: white;
    align-self: end;
    border-radius: 4px;
    font-size: 1.2rem;
}

.login__submit_disabled {
    cursor: not-allowed;
    opacity: 0.65;
}

.login__error {
    color: red;
    font-weight: 700;
}

.login__form {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}