@import '../../sass/main';

.ArticleList {
  @include block-format(_, 100%, _);

  &-empty__text {
    padding-left: 212px;
    @include text-format(1rem, 400, $source-sans, $black, left);
    line-height: 1.5rem;
  }
}
