.header {
  background-color: #f7f7f7;
}
.header__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
}

.header__logo {
  color: #5cb85c;
  font-weight: 700;
  font-size: 2rem;
}

.header__link {
  color: #888686;
  transition: 0.2s all;
  margin: 0px 8px;
}

.header__link:hover {
  color: #404040;
  transition: 0.2s all;
}

.active-link {
  color: black;
  margin: 0px 8px;
}