@import '/src/sass/main';

.Editor {
  &-body {
    @include flex(_,center,column);
    width: 920px;
    padding: 1.5rem 0;
    margin: 0 auto;
  }

  &-form {
    width: 920px;
    &__input,
    &__textarea {
    }

    &__taglist {
      align-self: flex-start;
    }

    &__input:nth-child(4) {
      margin-bottom: 0.1rem;
    }
  }
}
