.submit {
  @include text-format(1.25rem, 400, $source-sans, $white, center, _);
  outline: none;
  background-color: $green;
  padding: 0.75rem 1.5rem;
  border-radius: 0.3rem;
  border: none;
  cursor: pointer;
  user-select: none;
  border-color: $green;
  border: 1px solid transparent;

  &:hover {
    background-color: $green-darker;
  }

  &_disabled {
    cursor: not-allowed;
    opacity: 0.65;
  }
}
