.input {
  border: 1px solid gray;
  padding: 1rem;
  width: 30rem;
  background-color: transparent;
  font-size: 1rem;
  border-radius: 4px;
  &:focus {
    border: 2px solid cornflowerblue;
  }
}


