.taglist {
  display: flex;
  color: white;

  &__elem {
    background-color: #888585;
    margin: 0px 5px;
    padding: 5px 10px 5px 10px;
    border-radius: 15px;
  }
  &__button {
    background-color: #888585;
    color: white;
    padding: 5px 5px 5px 0px;
    font-size: 1rem;
  }
}
