.textarea {
  width: 100%;
  height: 20vh;
  border: 1px solid gray;
  padding: 1rem;
  background-color: transparent;
  font-size: 1rem;
  border-radius: 4px;
  resize: none;

  &:focus {
    border: 2px solid cornflowerblue;
  }
}
