.footer {
    background-color: #f7f7f7;
}

.footer__body {
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding: 1rem;
}

.footer__text {
    color: #888686;
    font-size: 0.8rem;
}

.footer__logo {
    color: #5cb85c;
    font-weight: 700;
    font-size: 1rem;
}
