.Homepage {
  &-banner {
    background-color: #5cb85c;
    text-align: center;
    padding: 1.75rem;
    color: white;
    &__title {
      font-size: 3rem;
      font-weight: 700;
    }
    &__text {
      font-size: 1.5rem;
      margin: 1rem;
      font-weight: 300;
      &_italic {
        font-style: italic;
      }
    }
  }
  &-body {
    margin: 2rem;
  }
  &-nav {
    padding: 10px 10px;
    &__link {
      padding: 10px 10px;
      color: #888686;
      &_active {
        border-bottom: 2px solid #5cb85c;
        color: #5cb85c;
      }
    }
  }
}
