@import '../../../sass/main';

.Homepage {
  @include block-format(_, 100%, 100%, 1.5rem 0 0 0, 0, $white);
  @include page-min-height;
  @include flex(center);

  &-row {
    @include block-format(_, 100%, 100%, 0, 0);
    min-height: 100px;
    @include flex();
  }

  &-content {
    @include block-format(_, 75%, 100%, 0 15px 0 0);

    &__navbar {
      @include block-format(_, 100%, 42px, 0 0 -1px);
      @include flex;

      &_link {
        @include homepage-navbar-link;
        &:hover {
          color: $black;
        }

        &-active {
          @include homepage-navbar-link;
          color: $green;
          border-bottom: 2px solid $green;
        }
      }
    }
  }

  &-sidebar {
    @include block-format(_, 25%, 100%, 0, 0 0 0 15px);

    &__block {
      @include block-format(_, 100%, 100%, 0, 5px 10px 10px, $gray-light);
      min-height: 100px;
      border-radius: 4px;
    }

    &__logo {
      @include block-format(_, 100%, 24px, 0 0 0.2rem);
      @include text-format(1rem, 400, $source-sans, $black, left);
      line-height: 1.5rem;
    }

    &__tagList {
      @include block-format(_, 100%, calc(100% - 24px));
    }
  }
}
